.register_signin_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  height: 90vh;
}

.register_signin{
  color: #fda502;
  transition: all 0.4s ease;
  width: 100%;
}

form#user_register{
  margin-top: 1.4em;
}

select{
  float: none;
}

.register_form{
  display: none;
  height: 0;
  border-radius: 9.5px;
  transition: all 0.5s;
}

.signin_form{
  transition: all 0.5s linear;
  border-radius: 9.5px;
}

.open_form{
  display: block;
  height: 100%;
}

.close_form{
  display: none;
  height: 0;
}

label{
  color: #fda502;
}

.form_input{
  position: relative;
  height: 50px;
  overflow: hidden;
  color: #fda502;
  
}

.form-control{
  color: #fda502 !important;
}

.form_input input{
  width: 100%;
  height: 100%;
  color: #fda502 !important;
  font-size: 20px;
  padding: 5px;
  border: none;
  outline: none;
}

div.form_p{
  margin: 0.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  color: #fda502;
}

.form_input label{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fda502;
  height: 100%;
  padding: 5px;
  pointer-events: none;
  border-bottom: 1px solid #fda502;
}

.form_input label::after{
  content: "";
  position: absolute;
  left: 0;
  color: #fda502;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #fda502;
  transform: translateX(-100%);
  transition: transform all 0.3s ease;
}

.content_name{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  padding-left: 5px;
}

.form_input input:focus + .label_name .content_name,
.form_input input:valid + .label_name .content_name{
  transform: translateY(-150%);
  font-size: 16px;
  color: #fda502;
}

.form_input input:focus + .label_name::after,
.form_input input:valid + .label_name::after{
  transform: translateY();
  color: #fda502;
}

input[type=submit]{
  color: #fda502;
  background: rgba(14, 40, 46, 0.76);
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  width: 80px;
  padding: 5px;
  outline: none;
  text-decoration: none;
  border: 1px solid #fda502;
  border-radius: 5px;
  cursor: pointer;
}

span.signup{
  background: rgba(14, 40, 46, 0.76);
  color: #fda502;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 7px;
  cursor: pointer;
}

.form_a{
  color: #fda502;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fda502;
  -webkit-text-fill-color: #fda502;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

